#bodyLeft, #bodyRight, #changePW{
	width: 50%;
	float: left;
}


#cogBtn{
	position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
}

#editBtns{
	width: 100%;
	float: left;
}

.editField, .fieldLabel{
	float: left;
	width: 100%;
}

#save, #cancel{
	float: right;
}

.editBtn{
	margin: 2px;
}


.pwDivs{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: none;
    color: red;
    margin: 9px;
	padding: 8px;
	border-radius: 18px;
	border: 3px solid red;
	background:rgba(120,0,0,0.05);	
}