.label{
    float: left;
}

.add{
    width: 250px;
    float:left;
    position: relative;
    left: 5px;
}

.spanBtn{
    margin-left: 5px;
}

.remove{
    margin: 3px;
    
}

.addBtn{
    float:none;
}

#labels{
    float: none;
}

#errorDiv {
    display: none;
}