#diagramContainer {
    position: absolute;
    width: 96%;
    height: 800px;
}

#diagramContainer .bgRaster {
    width: 100%;
    height: 100%;
    background-repeat: repeat;
}

.item {
    color: white;
    font-size: 14px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 5px 5px 5px 5px;
    background: rgba(51, 122, 183, 0.7);
}


/*if hovering over a node, addTicket button becomes visible*/

.item:hover .addTicket {
    visibility: visible;
}

.item:hover .showNode {
    visibility: visible;
}

.form-control {
    width: 85%;
}

.addTicket {
    position: absolute;
    top: 0px;
    left: 83px;
    height: 20px;
    width: 20px;
    visibility: hidden;
}

.editTicket {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
}

.closeTicket {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
}

#updateTicket {
    bottom: 0px;
    right: 0px;
}

.btnEdit {
/*    display: none;*/
}

.topTitle {
    width: auto;
    height: auto;
    border-radius: 2px 2px 0px 0px;
    padding-left: 5px;
    background-color: #337AB7;
}

.amountTickets {
    position: absolute;
    top: 50%;
    left: 50%;
    /*    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: aqua;*/
}

.glyphicon-plus {}

.glyphicon-th-large {}

.glyphicon-cog {}

.showNode {
    position: absolute;
    bottom: 0px;
    left: 83px;
    height: 20px;
    width: 20px;
    visibility: hidden;
}

.dropdown-menu {
    min-width: 100px;
}

.col-sm-10 .label {
    margin: .2em;
    min-width: 35px;
}

.modal-body {
    display: inline-block;
}

.nodeTicketWrapper {
    position: relative;
    float: left;
    height: 100%;
}

.nodeTicket {
    /*    text-align: center;*/
    color: black;
    /*    height: 150px;*/
    /*    width: 150px;*/
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    background: rgba(218, 218, 218, 0.5);
}

#ticketAdd {
    display: none;
    color: black;
    padding: 15px;
    margin: 15px;
    position: absolute;
    width: 80%;
    background: #fff;
    border-radius: 5px;
    z-index: 1011;
}

#ticketView {
    display: none;
    color: black;
    padding: 15px;
    margin: 15px;
    position: absolute;
    width: 80%;
    background: #fff;
    border-radius: 5px;
    z-index: 1011;
}

#ticketViewWrapper {
    display: none;
    top: 0px;
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1010;
}

#swEditMode {
    margin-right: 40px;
    margin-top: 10px;
    right: 0px;
}

.highlighted {
    /*    border: solid 1px red;*/
    -moz-animation-duration: 0.1s;
    -webkit-animation-duration: 0.01s;
    -moz-animation-name: changeShadow;
    -webkit-animation-name: changeShadow;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes changeShadow {
    0% {
        box-shadow: 0px 0px 100px 50px green;
    }
    50% {
        box-shadow: 0px 0px 100px 50px white;
    }
    100% {
        box-shadow: 0px 0px 100px 50px red;
    }
}